div.cromperContainer{
    display:flex;
    justify-content: space-between;
    align-items: stretch;

    div.cromperViewportContainer{
        flex-grow:1;
        flex-shrink:1;
        display:flex;
        align-items: center;
        justify-content: center;
    }

    div.cromperLayerContainer{
        width:200px;
        margin-left:12px;
        flex-grow:0;
        flex-shrink: 0;
    }
}